<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E74A7F12EE77EB800FE7650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E74A80A2EE77EBA00FE7650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E74A8142EE77EBA00FE7650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
